.dropdown {
  position: relative;
  display: inline-block;
}

// КНОПКА
.lang-toggle {
  font-size: 21px;
  color: var(--white-color);
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    color: var(--secondary-color);
    transform: rotate(180deg);
  }

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

// ДРОПДАУН
.lang-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  min-width: 160px;
  z-index: 10;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 8px 0;
}

// ССЫЛКИ
.lang-dropdown a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.2s ease;

  &:hover {
    background-color: #f0f0f0;
  }
}

.lang-btn.is-active {
  background: #eaeaea;
  font-weight: 600;
}
